div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border-width: 2px;
    border-style: dashed;
    border-color: brown;
    text-align: right;
}

h1{
    width: 200px;
    height: 50px;
    background-color: aquamarine;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

p{
    border: 2px,solid,brown;
    border-radius: 20px;
}